<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oioIdwsWcfConfiguration" type="Digst.OioIdws.WscCore.OioWsTrust.OioIdwsWcfConfigurationSection, Digst.OioIdws.WscCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="oioIdwsLoggingConfiguration" type="Digst.OioIdws.CommonCore.Logging.LoggingConfigurationSection, Digst.OioIdws.CommonCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <!--SOAP 1.1 WSP-->
  <!--<oioIdwsWcfConfiguration debugMode="true" stsEndpointAddress="https://n2adgangsstyring.eksterntest-stoettesystemerne.dk/runtime/services/kombittrust/14/certificatemixed"
													 stsEntityIdentifier="https://saml.n2adgangsstyring.eksterntest-stoettesystemerne.dk/runtime"
													 tokenLifeTimeInMinutes="5"
												   includeLibertyHeader="true"
													 wspEndpointID="http://wsp11.oioidws-net.dk/service/service/1" 
													 wspEndpoint="https://kombitwsp11.azurewebsites.net/HelloWorld.svc"
													 wspSoapVersion="1.1" cvr="11111111" maxReceivedMessageSize="256000">
		<clientCertificate findValue="79cfb7a45b74f4c64ea408503002df7d1143ef40" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
		<stsCertificate findValue="7002cf221d1d3979eca623599e43e0b6b4c8920c" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>
		<serviceCertificate findValue="ca30025a4981147505b8d7a59052ac40c7033688" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>
	</oioIdwsWcfConfiguration>-->

  <!--SOAP 1.2 WSP-->
  <oioIdwsWcfConfiguration debugMode="true" stsEndpointAddress="https://n2adgangsstyring.eksterntest-stoettesystemerne.dk/runtime/services/kombittrust/14/certificatemixed"
                                                   stsEntityIdentifier="https://saml.n2adgangsstyring.eksterntest-stoettesystemerne.dk/runtime"
                                                   tokenLifeTimeInMinutes="5"
                                                   includeLibertyHeader="true"
                                                   wspEndpointID="http://wsp12.oioidws-net.dk/service/service/1"
                                                   wspEndpoint="https://kombitwsp12.azurewebsites.net/HelloWorld.svc"
                                                   wspSoapVersion="1.2" cvr="11111111" maxReceivedMessageSize="256000">
    <clientCertificate findValue="79cfb7a45b74f4c64ea408503002df7d1143ef40" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
    <stsCertificate findValue="7002cf221d1d3979eca623599e43e0b6b4c8920c" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>
    <serviceCertificate findValue="ca30025a4981147505b8d7a59052ac40c7033688" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>
  </oioIdwsWcfConfiguration>

  <oioIdwsLoggingConfiguration logger="Digst.OioIdws.WscExampleCoreNuGet.Log4NetLogger, Digst.OioIdws.WscExampleCoreNuGet"/>

  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="c:\temp\Digst.OioIdws.WscExampleCoreNuGet.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1024KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
</configuration>
