<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="oioIdwsLoggingConfiguration" type="Digst.OioIdws.CommonCore.Logging.LoggingConfigurationSection, Digst.OioIdws.CommonCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <oioIdwsLoggingConfiguration logger="Digst.OioIdws.CommonCore.Test.StubLogger, Digst.OioIdws.CommonCore.Test"/>
</configuration>