<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oioIdwsWcfConfiguration" type="Digst.OioIdws.WscCore.OioWsTrust.OioIdwsWcfConfigurationSection, Digst.OioIdws.WscCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="oioIdwsLoggingConfiguration" type="Digst.OioIdws.CommonCore.Logging.LoggingConfigurationSection, Digst.OioIdws.CommonCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <!--SOAP 1.1 WSP-->
  <!--<oioIdwsWcfConfiguration debugMode="true" stsEndpointAddress="https://sts.vconf-stage.dk/sts/service/sts"
													 stsEntityIdentifier="https://saml.n2adgangsstyring.eksterntest-stoettesystemerne.dk/runtime"
													 tokenLifeTimeInMinutes="5"
												   includeLibertyHeader="true"
													 wspEndpointID="http://wsp11.oioidws-net.dk/service/service/1" 
													 wspEndpoint="https://kombitwsp11.azurewebsites.net/HelloWorld.svc"
													 wspSoapVersion="1.1" cvr="11111111" maxReceivedMessageSize="256000">
		<clientCertificate findValue="79cfb7a45b74f4c64ea408503002df7d1143ef40" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
		<stsCertificate findValue="7002cf221d1d3979eca623599e43e0b6b4c8920c" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>
		<serviceCertificate findValue="ca30025a4981147505b8d7a59052ac40c7033688" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>
	</oioIdwsWcfConfiguration>-->

  <!--SOAP 1.1 WSP-->
  <oioIdwsWcfConfiguration debugMode="true" stsEndpointAddress="https://sts-signatur.hosting.kitkube.dk/sts/service/sts"
                                                   stsEntityIdentifier="https://sts-signatur.hosting.kitkube.dk/sts/service/sts"
                                                   tokenLifeTimeInMinutes="5"
                                                   includeLibertyHeader="true"
                                                   wspEndpointID="urn:signatur"
                                                   wspEndpoint="https://kombitwsp12.azurewebsites.net/HelloWorld.svc"
                                                   wspSoapVersion="1.1" cvr="11111111" maxReceivedMessageSize="256000">
    <clientCertificate findValue="e296af5d96cd3472c08e9835e93f6c11dd871687" storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint"/>
    <stsCertificate findValue="998b3be8ecbe5ec0dbf7b25cd6ec6bdbeb5f10b2" storeLocation="CurrentUser" storeName="Root" x509FindType="FindByThumbprint"/>
    <serviceCertificate findValue="e296af5d96cd3472c08e9835e93f6c11dd871687" storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint"/>
  </oioIdwsWcfConfiguration>

  <oioIdwsLoggingConfiguration logger="Digst.OioIdws.WscExampleCommon.Log4NetLogger, Digst.OioIdws.WscExampleCommon"/>
  <!--<system.serviceModel>
    <bindings>
      <customBinding>
        --><!-- Configure a CustomBinding that supports http transport and text encoding --><!--
        <binding name="HttpBinding">
          <textMessageEncoding messageVersion="Soap11WSAddressing10"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>-->
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="c:\temp\Digst.OioIdws.WscExampleCore.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1024KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  
</configuration>
