<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="oioIdwsWcfConfiguration" type="Digst.OioIdws.WscCore.OioWsTrust.OioIdwsWcfConfigurationSection, Digst.OioIdws.WscCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <appSettings>
    <add key="Wsp12EndpointId" value="http://wsp12.oioidws-net.dk/service/service/1"/>
    <add key="Wsp12Endpoint" value="https://kombitwsp12.azurewebsites.net/HelloWorld.svc"/>
  </appSettings>

  <oioIdwsWcfConfiguration debugMode="true" stsEndpointAddress="https://n2adgangsstyring.eksterntest-stoettesystemerne.dk/runtime/services/kombittrust/14/certificatemixed"
													 stsEntityIdentifier="https://saml.n2adgangsstyring.eksterntest-stoettesystemerne.dk/runtime"
													 tokenLifeTimeInMinutes="5"
													 includeLibertyHeader="true"
													 wspEndpointID="http://wsp11.oioidws-net.dk/service/service/1"
													 wspEndpoint="https://kombitwsp11.azurewebsites.net/HelloWorld.svc"
													 wspSoapVersion="1.1" cvr="11111111" maxReceivedMessageSize="256000">
    <clientCertificate findValue="79CFB7A45B74F4C64EA408503002DF7D1143EF40" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
    <stsCertificate findValue="7002cf221d1d3979eca623599e43e0b6b4c8920c" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>
    <serviceCertificate findValue="ca30025a4981147505b8d7a59052ac40c7033688" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>
    <!--Ther oboCertificate is required for the Proxy OBO case-->
    <oboCertificate findValue="8f7162ae1ac829f4d7df8211301e994edbde932e" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>
  </oioIdwsWcfConfiguration>

</configuration>